


.course-details-container {

    @include font;
    margin-top: 20px;


    .img {
        display: block;
        position: relative;
    }

    .course-detail-top {
        position: absolute;
        top: 10%;
        color: white;
        margin-left: 3%;

        @include sm {
            margin-left: 3%;
        }

        @include md {
            margin-left: 18%;
        }

        @include xl {
            margin-left: 18%;
        }

        .nav-route {
        }

        .btn-course-det {
            display: flex;
            margin-top: 120px;
            gap: 10px;
            font-size: 12px;
        }

        .bestseller {
            top: 1rem;
            left: 1rem;
            background-color: var(--color-success-dark);
            color: var(--color-white);
            padding: 4px 12px;
            border-radius: 4px;
        }

        .digital {
            top: 1rem;
            right: 1rem;
            background-color: var(--color-white);
            color: var(--color-black);
            padding: 4px 12px;
            border-radius: 4px;
        }

        h2 {
            font-weight: 900;
            margin-top: 20px;
        }

        p {
            font-weight: 200;
            opacity: 70%;
            margin-top: 20px;
        }

        .course-rating {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 50px;
            width: 250px;

            .fa-solid {
                color: #FFBA08;
            }

            .fa-regular {
                color: var(--color-gray-200);
            }

            .course-stars {
                width: 220px;
                border-right: 1px solid #EFF2FC;
                height: 20px;
            }

            .course-thumb {
                width: 110px;
                margin-left: 10px;
                border-right: 1px solid #EFF2FC;
                height: 20px;

                i {
                    color: var(--color-gray-200);
                }


                p {
                    margin-right: 5px;
                }
            }

            .course-hours {
                width: 150px;
                height: 20px;

                i {
                    margin-left: 10px;
                }
            }

            .course-rating-icons {
                display: flex;
                gap: 5px;
                justify-content: start;
                align-items: center;




                p {
                }
            }
        }

        .author-details {
            display: flex;
            margin-top: 150px;
            gap: 20px;


            img {
            }

            .author-name {


                h5 {
                    font-weight: 900;
                    font-size: 16px;
                    margin-top: 15px;
                }

                p {
                    font-weight: 500;
                    opacity: 100%;
                    font-size: 16px;
                    margin-top: 5px;
                }
            }
        }
    }

    .course-detail-middle {
        margin-left: 3%;
        position: relative;
        width: 130vh;
        margin-top: 5%;

        @include sm {
            margin-left: 3%;
        }

        @include md {
            margin-left: 18%;
        }

        @include xl {
            margin-left: 18%;
        }

        .course-detail-description {
            width: 47vh;

            @include sm {
                width: 50vh;
            }

            @include md {
                width: 75vh;
            }

            @include xl {
                width: 75vh;
            }

            h2 {
                @include font-h1;
                margin-bottom: 2rem;
            }
        }

        .will-learn {
            margin-top: 3rem;
            width: 47vh;

            @include sm {
                width: 50vh;
            }

            @include md {
                width: 75vh;
            }

            @include xl {
                width: 75vh;
            }

            .will-learn-check {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 1rem;
                gap: 10px;

                p {
                    margin: 0;
                }

                i {
                    color: var(--color-theme);
                }
            }

            h3 {
                @include font-h2;
                font-weight: 900;
                margin-bottom: 2rem;
            }
        }

        .course-includes {
            border-radius: 4px;
            padding: 30px;
            transition: box-shadow 0.3s ease;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            width: 37vh;
            margin-top: 50px;

            @include sm {
                margin-top: 50px;
            }

            @include md {
                margin-top: 50px;
            }

            @include xl {
                position: absolute;
                right: 0;
                top: 0;
            }

            h4 {
                @include font-h4;
                font-weight: 800;
                margin-bottom: 2rem;
            }

            .include-list {
                .include-list-options {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 15px;
                    margin-bottom: 16px;

                    p {
                        margin-bottom: 0;
                    }

                    i {
                        width: 5%;
                    }
                }
            }

            .pricing {
                margin-bottom: 1rem;
                margin-top: 1rem;
                display: flex;

                h2 {
                    @include font-h2;
                    font-weight: 900;
                }
            }

            button {
            }
        }

        .program-details {
            margin-top: 7rem;
            width: 47vh;

            @include sm {
                width: 50vh;
            }

            @include md {
                width: 75vh;
            }

            @include xl {
                width: 75vh;
            }

            h2 {
                @include font-h1;
                margin-bottom: 3rem;
            }

            .prog-details-wrapper {
                display: flex;
                align-items: flex-start;
                gap: 30px;



                .circle-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .number-lg-circle, .number-sm-circle {
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    background-color: var(--color-gray-100);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                }

                .number-sm-circle {
                    height: 50px;
                    width: 50px;
                    background-color: var(--color-white);
                    margin-top: 10px;
                    position: absolute;
                }

                .number-lg-circle::after {
                    content: "";
                    position: absolute;
                    bottom: -56px;
                    left: 50%;
                    width: 2px;
                    height: 55px;
                    background-color: var(--color-gray-200);
                    transform: translateX(-50%);
                }

                &:last-child .number-lg-circle::after {
                    display: none;
                }

                .number-sm-circle h4 {
                    margin: 0;
                    @include font-h4;
                    font-weight: 800;
                }

                .prog-text {
                    display: flex;
                    flex-direction: column;
                    margin-top: 5px;
                    width: 70vh;
                }

                h5 {
                    @include font-h5;
                    font-weight: 900;
                }
            }
        }
    }

    .course-detail-bottom {
        display: none;
        margin-top: 50px;
        margin-bottom: 50px;


        @include sm {
            display: none;
        }

        @include md {
            display: none;
        }

        @include xl {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            height: 480px;
            border-radius: 4px;
        }

        .author-info {
            width: 70vh;
            background-color: var(--color-black);
            height: 480px;
            align-items: center;
            color: var(--color-white);
            padding-left: 80px;
            padding-top: 80px;
            padding-right: 80px;
            border-radius: 4px;


            .author-text-info {
                display: grid;
                align-items: center;
            }

            h5 {
                @include font-h6;
                color: var(--color-gray-400) !important;
                font-weight: 300;
            }

            h2 {
                font-weight: 700;
            }

            p {
                font-size: 16px;
                font-weight: 200;
                color: var(--color-gray-400)
            }

            .subscribe-buttons {
                display: flex;
                gap: 20px;

                .youtube {
                    background-color: var(--color-danger);
                    border: none;
                }

                .facebook {
                    border: none;
                    background-color: #4C82F7;
                }
            }
        }
    }
}
