.courses {
    padding-top: 3rem;
    padding-bottom: 5rem;

    .container {

        .header {
            margin-bottom: 2rem;
            margin-top: 2rem;
            display: grid;

            @include sm {
                display: grid;
            }

            @include md {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            @include xl {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            h1 {
                @include font-h1;
            }


            .filters {
                display: grid;
                align-items: center;
                justify-content: start;
                gap: 1.5rem;

                @include sm {
                    display: grid;
                    align-items: center;
                    justify-content: start;
                    gap: 1.5rem;
                }

                @include md {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 1.5rem;
                }

                @include xl {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 1.5rem;
                }

                select {
                }



                .input-search-group {
                    position: relative;
                    margin-bottom: 0;

                    input {
                        position: relative;
                        margin-bottom: 0;
                        padding: 8px;
                        border: 2px solid var(--color-gray-200);
                    }

                    i {
                        position: absolute;
                        top: 14px;
                        right: 1rem;
                    }
                }
            }
        }

        .items {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            margin-top: 3rem;
            margin-bottom: 4rem;

            @include sm {
                display: grid;
                grid-template-columns: 1fr;
            }

            @include md {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @include xl {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }

            .course {
                position: relative;
                display: block;
                border-radius: 8px;
                overflow: hidden;
                text-decoration: none;
                box-shadow: 0 0 14px -4px var(--color-gray-500);
                color: var(--color-gray-700);

                &:hover {
                    box-shadow: 0 0 14px -4px var(--color-gray-900);
                }

                .bestseller {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    background-color: var(--color-success-dark);
                    color: var(--color-white);
                    padding: 4px 12px;
                    border-radius: 4px;
                }

                .bookmark {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    right: 1rem;
                    top: 0.5rem;
                    background-color: white;
                    align-items: center;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                }

                img {
                    width: 100%;
                }

                .content {
                    padding: 1rem 2rem;

                    .title {
                        font-size: 20px;
                    }

                    .author {
                        font-size: 14px;
                        margin: 0.5rem 0;
                    }

                    .pricing {
                        display: flex;
                        gap: 1rem;
                        font-size: 18px;
                        font-weight: 600;

                        .discount {
                            color: var(--color-danger-dark);
                            font-size: 18px;
                            font-weight: 600;
                        }

                        .original {
                            color: var(--color-theme);
                            font-size: 18px;
                            font-weight: 600;
                        }

                        .discount-enabled {
                            color: var(--color-gray-600);
                            text-decoration: line-through;
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }

                    .footer {
                        color: var(--color-gray-600);
                        border-top: 1px solid var(--color-gray-400);
                        display: flex;
                        gap: 2rem;
                        margin-top: 1rem;
                        padding-top: 1rem;


                        .hours {
                            i {
                                margin-right: 5px;
                            }
                        }

                        .likes {
                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .pagination {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        .number {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            width: 44px;
            height: 44px;
            background-color: var(--color-gray-200);
            color: var(--color-gray-800);
            text-decoration: none;

            &:hover {
                text-decoration: none;
                background: var(--color-gray-700);
                color: var(--color-gray-100);
            }

            &.active {
                background: var(--color-gray-700);
                color: var(--color-gray-100);
            }
        }
    }

    .course-get-started {
        display: none;
        background-color: var(--color-gray-100);
        border-radius: 8px;
        padding: 40px;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        gap: 70px;

        @include sm {
            display: none;
        }

        @include md {
            display: flex;
        }

        @include xl {
            display: flex;
        }

        .get-started {
            width: 30%;

            h5 {
                @include font-h5;
                font-weight: 300;
                color: var(--color-gray-700);
            }

            h2 {
                @include font-h2;
                font-weight: 900;
                margin-top: 20px;
                margin-bottom: 20px;

                span {
                    color: var(--color-theme);
                }
            }
        }

        .img-container {
        }
    }
}
