.account {

    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 350px 1fr;

        aside {
            


            .account-nav {

                .btn {

                }

            }
        }

    }

}