.account-profile {
    display: grid;
    justify-content: center;
    text-align: center;

    button {
        width: 100%;
    }
    .profile {
        align-items: center;

        .image {
        }
    }

    .info {
    }
}
