.account {
    height: 100%;
    padding: 2rem 0;

    .container {
        height: 100%;


        @include sm {
            display: grid;
            grid-template-columns: 1fr;
        }

        @include md {
            display: grid;
            grid-template-columns: 350px 1fr;
        }

        @include xl {
            display: grid;
            grid-template-columns: 350px 1fr;
        }


        aside {
            border: none;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 1rem;
            width: 90%;

            @include sm {
                border: none;
            }

            @include md {
                border-right: 1px solid var(--color-gray-400);
            }

            @include xl {
                border-right: 1px solid var(--color-gray-400);
            }

            .account-nav {
                margin-top: 2rem;

                a {
                    font-weight: 500;
                    padding: 10px;
                    margin-left: 0px;
                }

                .btn-nav {
                    margin-bottom: 5px;
                    font-size: 16px;
                }

                .btn-nav:not(.active) {
                    background-color: var(--color-white);
                    color: var(--color-gray-800) !important;
                    border: none;
                    font-weight: 700;

                    i {
                        color: var(--color-gray-600) !important;
                    }
                }

                .btn-nav.active {
                    background-color: var(--color-theme);
                }
            }
        }
    }
}
