section {


    .container-account {
        display: grid;
        margin-left: 100px;



        .btn-account {
            @include btn-theme;
            width: 100%;
            border-radius: 10px;
            padding: 10px;
        }

        label {
            font-weight: 700;
            color: var(--color-gray-900);
        }

        .account-info {
            padding-top: 2rem;
            padding-bottom: 2rem;

            .account-info-title {
            }

            form {
                display: grid;


                input {
                    margin-top: 3px;
                    margin-bottom: 10px;
                }

                .grid-account-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                    padding: 0px;
                    margin-bottom: 1rem;

                    .input-group {
                    padding: 0px;
                    
                    }
                }
                .input-bio {
                    textarea {
                        height: 100%;

                    }
                }

                .input-group {
                }

                button {
                    font-weight: 600;
                }

                .btn-details {
                    display: flex;
                    gap: 10px;
                    width: 35%;
                    padding-bottom: 1rem;
                    margin-top: 2rem;

                    .btn-gray {
                        width: 50%;
                    }
                }
            }
        }

        .address-info {
            padding-top: 2rem;
            border-top: 1px solid var(--color-gray-400);

            textarea {
                padding: 0;
                margin: 5px 0px 20px;
            }

            .address-info-title {
                h5 {
                    margin-bottom: 5px;
                }
            }

            form {
                display: grid;
                padding-top: 0px;

                input {
                    margin-top: 3px;
                }

                .grid-address-container {
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                    padding-bottom: 2rem;
                }

                .input-group {
                    margin-top: 5px;

                    textarea {
                        height: auto;
                    }

                    .input-address {
                    }
                }

                .btn-details {
                    display: flex;
                    gap: 10px;
                    width: 35%;
                    margin-bottom: 70px;

                    button {
                        font-weight: 600;
                    }

                    .btn-account {
                    }

                    .btn-gray {
                        width: 50%;
                    }
                }
            }
        }

        h2 {
            @include font-h2;
            font-weight: 800;
            margin-bottom: 2rem;
        }

        h5 {
            color: var(--color-theme);
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 1rem;
        }
    }
}
