.newsletters {
    background-color: var(--color-gray-100);
    @include font;

    .container {
        padding: 8rem 0;
        width: 100vh;

        .news-title {
            display: none;
            align-items: center;
            gap: 40px;


            @include sm {
                display: none;
            }

            @include md {
                display: none;
            }

            @include xl {
                display: flex;
            }

            h2 {
                @include font-h1;
            }
        }

        form {



            .options-title {


                @include sm {
                    display: flex;
                }

                @include md {
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                @include xl {
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                .title {
                    width: 90%;
                    display: none;

                    @include sm {
                        display: none;
                    }

                    @include md {
                        display: block;
                    }

                    @include xl {
                        display: block;
                    }

                    h4 {
                        font-weight: 900;
                        color: var(--color-gray-900);
                        font-size: 20px;
                    }
                }



                .options {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;

                    @include sm {
                        gap: 10px;
                    }

                    @include md {
                        gap: 0;
                    }

                    @include xl {
                        gap: 0;
                        margin-left: 0;
                    }

                    .input-group {
                        margin-bottom: 0px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 14px;
                        color: var(--color-gray-700);

                        input[type=checkbox] {
                            background-color: var(--color-gray-400) !important;
                            color: var(--color-gray-400) !important;
                        }
                    }
                }
            }

            .email {
                display: grid;
                margin-top: 10px;

                @include sm {
                    display: grid;
                    margin-top: 10px;
                }

                @include md {
                    position: relative;
                    display: flex;
                    gap: 20px;
                    margin-top: 0;
                }

                @include xl {
                    position: relative;
                    display: flex;
                    gap: 20px;
                    margin-top: 0;
                }

                input {
                    padding-left: 35px;
                }

                .input-group {
                    align-items: center;
                    position: relative;


                    i {
                        display: flex;
                        position: absolute;
                        margin-left: 10px;
                        top: 23px;
                        color: var(--color-gray-500);
                    }
                }

                .subscribe-newsletter {
                    width: 100%;
                    height: 100%;

                    @include sm {
                        width: 100%;
                        height: 100%;
                    }

                    @include md {
                        width: 25%;
                        height: 66%;
                        padding: 0;
                        margin-top: 5px;
                    }

                    @include xl {
                        width: 25%;
                        height: 66%;
                        padding: 0;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
