.newsletters {
    background-color: var(--color-gray-100);
    @include font;

    .container {
        padding: 8rem 0;
        width: 100vh;

        .news-title {
            display: flex;
            align-items: center;
            gap: 40px;

            h2 {
                @include font-h1;
            }
        }

        form {



            .options-title {
                display: grid;
                grid-template-columns: 1fr 3fr;
                margin-bottom: 20px;
                margin-top: 20px;



                .title {
                    width: 90%;

                    h4 {
                        font-weight: 900;
                        color: var(--color-gray-900);
                        font-size: 20px;
                    }
                }



                .options {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;


                    .input-group {
                        margin-bottom: 0px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 14px;
                        color: var(--color-gray-700);

                        input[type=checkbox] {
                            background-color: var(--color-gray-400) !important;
                            color: var(--color-gray-400) !important;
                        }
                    }
                }
            }

            .email {
                position: relative;
                display: flex;
                gap: 20px;

                input {
                    padding-left: 35px;
                }

                .input-group {
                    align-items: center;
                    position: relative;


                    i {
                        display: flex;
                        position: absolute;
                        margin-left: 10px;
                        top: 23px;
                        color: var(--color-gray-500);
                    }
                }

                .subscribe-newsletter {
                    width: 25%;
                    height: 66%;
                    padding: 0;
                    margin-top: 5px;
                }
            }
        }
    }
}

