.showcase {
    padding-bottom: 100px;

    .container {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-area: content;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 200px;

        .content {
            padding-bottom: 50px;
            text-align: left;

            h1 {
                @include font-d4;
            }

            p {
                @include font;
                color: var(--color-gray-700);
                font-size: 18px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .get-started {
            }

            .brands {
                display: none;

                @include sm {
                    display: none;
                }

                @include md {
                    display: block;
                }

                @include xl {
                    display: block;
                }

                h6 {
                    margin: 100px 0 50px 0;
                    font-weight: var(--font-weight-extrabold);
                    @include font-h6;
                }

                .brands-logo {
                    display: flex;
                    gap: 25px;
                    padding-top: 20px;


                    .brand-logo {
                        width: 113px;
                        height: 44px;
                    }
                }
            }
        }
    }

    .showcase-image {
        width: 100%;
        padding-top: 50px;
        display: none;

        @include sm {
            display: none;
        }

        @include md {
            display: none;
        }

        @include xl {
            display: block;
        }
    }

    @include xl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "content image";

        .container {
            width: 60%;
            padding-left: 140px;
        }

        .showcase-image {
            grid-area: image;
        }
    }

    
}
