.sign-in {
    display: flex;
    padding-top: 150px;
    padding-bottom: 200px;
    align-items: center;

    @include font;

    a {
        text-decoration: none;
        color: var(--color-theme);
    }

    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include sm {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        @include md {
            width: 37%;
        }

        @include xl {
            width: 27%;
        }

        .sign-title {
            width: 300px;

            @include sm {
                width: 300px;
            }

            @include md {
                width: 300px;
            }

            @include xl {
                width: 400px;
            }

            h1 {
                @include font-h3;
                font-weight: 900;
                margin-left: auto;

                @include sm {
                    @include font-h3;
                    font-weight: 900;
                    margin-left: auto;
                }

                @include md {
                    @include font-h2;
                    font-weight: 900;
                }

                @include xl {
                    @include font-h1;
                }
            }

            .no-account {
                display: flex;
                gap: 5px;
                margin-top: 20px;
                color: var(--color-gray-700);
                
            }
        }

        form {

            .alert {
                margin: 0;
                padding: 0px;
                color: var(--color-danger);
            }

            .input-group {
                color: var(--color-gray-900);
                font-weight: var(--font-weight-bold);
                font-size: 16px;
                margin-bottom: 10px;

                label {
                    margin-bottom: 5px;
                }

                span {
                    margin-top: 0;
                }

                input {
                    margin-bottom: 5px;
                }
            }

            .checkbox-group {
                margin-bottom: 25px;

                label {
                    margin-bottom: 0px;
                }

                input[type = checkbox] {
                    margin-right: 10px;
                    border: 2px solid var(--color-gray-500);
                }

                .input-group {
                    display: flex;
                    align-items: center;
                    font-weight: var(--font-weight-regular);
                    color: var(--color-gray-700);
                }
            }


            .forgot-link {
                text-align: center;
                padding: 15px;

                a {
                    font-weight: var(--font-weight-semibold);
                }
            }

            button {
                font-size: 16px;
            }
        }
    }
}
