.sign-up {
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
    align-items: center;

    @include font;

    a {
        text-decoration: none;
        color: var(--color-theme);
    }

    .container {
        width: 30%;
        align-items: center;


        .sign-title {


            h1 {
                @include font-h1
            }

            .no-account {
                display: flex;
                gap: 5px;
                margin-top: 20px;
                margin-bottom: 10px;
                color: var(--color-gray-700);
            }
        }

        form {

            .signup-name {
                display: flex;
                gap: 20px;
            }

            .input-group {
                color: var(--color-gray-900);
                font-weight: var(--font-weight-bold);
                font-size: 16px;

                label {
                    margin-bottom: 4px;
                }
            }

            .checkbox-group {
                margin-bottom: 25px;

                input[type = checkbox] {
                    margin-right: 10px;
                }

                .input-group {
                    display: flex;
                    align-items: center;
                    font-weight: var(--font-weight-regular);
                    color: var(--color-gray-700);
                }

                label {
                    margin: 0;
                }
            }

            .alert {
                margin: 0;
                padding: 10px;
            }


            button {
                font-size: 16px;
            }
        }
    }
}
