@model ContactRequestViewModel

@{
    ViewData["Title"] = "Contact us";
}

<section>
    <div class="wrapper-contact-us">

        <div class="contact-upper">
            <div class="title">
                <h2>Contact Us</h2>
            </div>

            <div class="request-prompt">
                <div class="contact-email">
                    <img />
                    <h4>Careers</h4>
                    <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum. </p>
                    <p>Leave a message -></p>
                </div>

                <div class="contact-careers">
                    <img />
                    <h4>Careers</h4>
                    <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum. </p>
                    <p>Send an application -></p>
                </div>
            </div>
        </div>


        <div class="contact-lower">
            <div class="image">

            </div>
        </div>

        <div class="contact-form">

            <form method="post" asp-action="ContactRequest" asp-controller="Contact">

                <div class="contact-form-title">
                    <h3></h3>
                </div>

                <div class="contact-input">
                    <div class="input-group">
                        <input asp-for="FullName" />
                        <label asp-for="FullName"></label>
                    </div>

                    <div class="input-group">
                        <input asp-for="Email" />
                        <label asp-for="Email"></label>
                    </div>

                    <div class="input-group">
                        <input asp-for="ContactMessage" />
                        <label asp-for="ContactMessage"></label>
                    </div>

                    <div class="select">
                        <div class="selected">All services</div>
                        <div class="select-options">
                            <div class="option" data-value="all">All services</div>
                            <input type="hidden" id="serviceIdInput" name="ServiceId" value="" />
                            @if (Model.Service != null)
                            {
                                @foreach (var service in Model.Service)
                                {
                                    <div class="option" data-value="@service.Id">@service.ServiceName</div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <button class="btn-standard" type="submit">Send Contact Request</button>
            </form>
        </div>
    </div>
</section>
