<section class="download">
    <div class="container">

        <div class="download-img">
            <img src="/images/download/download-app.svg" alt="Alternate Text" />
        </div>

        <div class="download-app">
            <div class="download-title">
                <h2>Download Our App for Any Devices:</h2>
            </div>
            
            <div class="app-store">
                <div class="app-content">
                    <p class="app-title">App Store</p>
                    <div class="stars">
                        <img src="/images/download/goldstar.svg" alt="Alternate Text" />
                        <img src="/images/download/goldstar.svg" alt="Alternate Text" />
                        <img src="/images/download/goldstar.svg" alt="Alternate Text" />
                        <img src="/images/download/goldstar.svg" alt="Alternate Text" />
                        <img src="/images/download/goldstar.svg" alt="Alternate Text" />
                    </div>
                    <h4>Editor's Choice</h4>
                    <p class="app-rating">rating 4.7, 187K+ reviews</p>
                </div>

                <div class="img-appstore">
                    <div class="image-astore">
                        <img src="~/images/download/appstore.svg" alt="Alternate Text" />
                    </div>
                    
                </div>
                
            </div>

            <div class="google-play">
                <div class="google-content">
                    <p class="app-title">Google Play</p>
                    <div class="stars">
                        <img src="/images/download/goldstar.svg" alt="Alternate Text" />
                        <img src="/images/download/goldstar.svg" alt="Alternate Text" />
                        <img src="/images/download/goldstar.svg" alt="Alternate Text" />
                        <img src="/images/download/goldstar.svg" alt="Alternate Text" />
                        <img src="/images/download/goldstar.svg" alt="Alternate Text" />
                    </div>
                    <h4>App of the Day</h4>
                    <p class="app-rating">rating 4.8, 30K+ reviews</p>
                </div>

                <div class="img-appstore">
                    <div class="image-astore">
                        <img src="~/images/download/googleplay.svg" alt="Alternate Text" />
                    </div>

                </div>
                
            </div>

        </div>


    </div>



</section>
