<section class="newsletters">

    <div class="container">

        <div class="news-title">
            <h2>Don't Want to Miss Anything?</h2>
            <img src="/images/icons/newsletters/arrows.svg" />
        </div>

        <div class="news-checkbox">
            <div class="news-signtitle">
                <h5>Sign up for Newsletters</h5>
            </div>
            <div class="checkboxes">

            </div>
        </div>

        <div class="email-sub">

        </div>

    </div>
</section>