@model SubscribeViewModel

<section class="newsletters">

    <div class="container">

        <div class="news-title">
            <h2>Don't Want to Miss Anything?</h2>
            <img src="/images/icons/newsletters/arrows.svg" />
        </div>

        <form method="post" asp-action="Subscribe" asp-controller="Home">


        </form>

    </div>
</section>