<section class="switch-mode">


    <div class="dark-switch-mode">
        <div class="switch-title"><h2>Switch Between</h2></div>
    </div>

    <div class="light-switch-mode">
        <div class="switch-title"><h2>Light & Dark Mode</h2></div>
    </div>
    
    <div class="macbook">
        <img src="/images/switchmode/macbook_1.svg" alt="Macbook" />
        <div class="macbook-border"></div>
        <div class="btn-switchmode">
            <img src="/images/switchmode/btn-switchmode.svg" alt="two-way arrow" />
        </div>
    </div>
    
    <div class="macbook-small">
        <img src="/images/switchmode/macbook_1.svg" alt="Macbook" />
        <div class="macbook-border"></div>
        <div class="btn-switchmode">
            <img src="/images/switchmode/btn-switchmode.svg" alt="two-way arrow" />
        </div>
    </div>
    
</section>