<section class="worktools">

    <div class="container">

        <div class="title-worktools">
            <h2>Integrate Top Work Tools</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>


        <div class="worktoolbox-grid">

            <div class="worktool-box">
                <img src="/images/icons/worktools/google.svg" alt="Alternate Text" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>

            <div class="worktool-box">
                <img src="/images/icons/worktools/zoom.svg" alt="Alternate Text" />
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>

            <div class="worktool-box">
                <img src="/images/icons/worktools/slack.svg" alt="Alternate Text" />
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="worktool-box">
                <img src="/images/icons/worktools/gmail.svg" alt="Alternate Text" />
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>

            <div class="worktool-box">
                <img src="/images/icons/worktools/trello.svg" alt="Alternate Text" />
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>

            <div class="worktool-box">
                <img src="/images/icons/worktools/mailchimp.svg" alt="Alternate Text" />
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>

            <div class="worktool-box">
                <img src="/images/icons/worktools/dropbox.svg" alt="Alternate Text" />
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>

            <div class="worktool-box">
                <img src="/images/icons/worktools/evernote.svg" alt="Alternate Text" />
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>

        </div>

        

    </div>

</section>