<section class="account-profile">
    <div class="profile">
        <div class="image">
            <img src="~/images/profiles/avatar.svg" />
        </div>
    </div>
    <div class="info">
        <h3 class="displayname">John Doe</h3>
        <p>john.doe@domain.se</p>
    </div>
</section>